* {
    box-sizing: border-box;
    margin: 0;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

/* App */
.title {
    text-align: center;
    margin-bottom: 20px;
}

/* ContactForm */
.contact-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-right: white 1px solid;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-name {
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
    color: white;
    background-color: transparent;
    text-align: center;
}

.input-num {
    font-size: 40px;
    border: none;
    margin-bottom: 20px;
    color: white;
    background-color: transparent;
    text-align: center;
}

.input-form button {
    border: none;
    background-color: transparent;
    color: rgb(0, 89, 255);
    font-size: 20px;
}

.input-form button:active {
    color: rgb(0, 0, 97);
}

.keypad tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad tr td {
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(92, 92, 92);
    color: white;
    font-size: 30px;
    padding: 20px 32px;
}

/* ContactList */
.container {
    background-color: black;
    height: 750px;
    color: white;
}

.contact-list {
    padding: 20px;
}

/* SearchBox */
.search-box {
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
}

.search-box Button {
    padding: 5px 20px;
    background-color: rgb(189, 189, 189);
    border: none;
    color: white;
    border-radius: 10px;
}

.search-box Button:hover {
    background-color: gray;
    transform: scale(1.1);
}

/* ContactItem */
.contact-item {
    background-color: white;
    color: black;
    margin-bottom: 5px;
}

.contact-item img {
    display: block;
}

.info {
    padding: 20px;
}
